{% extends 'base.html' %}

{% block title %} CandidateHome {% endblock %}
{% block content %}
<div class="headingSpace">
  <p id="heading">Let's setup you ASAP!</p>
</div>
<div class="bodyContent">
  <p id="bodyText">Here is a list of your onboarding topics</p>
  <button class="buttonAdjust">Basic Details</button><br>
  <button class="buttonAdjust">Education</button><br>
  <button class="buttonAdjust">Experience</button><br>
  <button class="buttonAdjust">Projects</button><br>
  <button class="buttonAdjust">Accomplishments</button>
</div>



<button style="margin-top:100px;margin-left: 500px;" onclick="myFunction()">Logout</button>

<p id="demo"></p>

<script>
function myFunction() {
var url;
if (confirm("Are you sure?")) {
  url = "{% url 'logout_view' %}";
} else {
  url = "{% url 'CandidateHome' %}";
}
document.location.href = url;
}
</script>
{% endblock %}