<html>
    <head class="flex-container">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   
        
        <title>
            CoachEd recruitment
        </title>
    </head>
    <header>
        <div> 
            <button type="button" class="btn btn-light" id="signup1">Sign Up</button>
            <button type="button" class="btn btn-light" id="getstarted1">Get Started</button>   
            </div>
            <div class="upperHead">
                <p id="fBold">Hire quality experts in </p>
                   <p id="fLine"> a flash</p>
                   <p id="sLine">For recruiters who do things differently</p>
                   <button type="button" class="btn btn-light">Get Started - Its Free! </button> 
            </div>
            <img id="headerImg1" src="{% static 'flashhired-5.jpg' %}">
            <img id="headerImg2" src="{% static 'flashhired-6.png' %}">
            <img id="headerImg3" src="{% static 'flashhired-7.jpg' %}">
            <img id="headerImg4" src="{% static 'flashhired-9.jpg' %}">

            </header>
</html>