<h1>{{ user.username }} is the user</h1>
<!--
<form method = 'POST' enctype="multipart/form-data">
  {% csrf_token %}
  <table>
    <tr>
      <td>name:</td>
      <td><input name="Name-field" placeholder="Enter your Username" {{ form.name }}</td>
    </tr>
    <tr>
      <td>gender:</td>
      <td name="gender-field">{{ form.gender }}</td>
    </tr>
    <tr>
      <td>email</td>
      <td><input name="email-field" type= "Email" placeholder="Enter your Email" {{ form.work_email }}</td>
    </tr>
      <td>DOB:</td>
      <td><input name="date-field" type= "Date" placeholder="Date of Birth" {{ form.dob }}</td>
    <tr>
      <td>role:</td>
      <td><input name="role-field" placeholder="Enter your Username" {{ form.role }}</td>
    </tr>
    <tr>
      <td>company_name:</td>
      <td><input name="companyName-field" placeholder="Enter your Username" {{ form.company_name }}</td>
    </tr>
    <tr>
      <td>experience:</td>
      <td><input name="experience-field" placeholder="Enter your Username" {{ form.experience }}</td>
    </tr>
    <tr> 
      <td><input id="createAccount" type="submit"  />Save</td>
  </tr>
  </table>
</form>

-->

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
{{ form.as_table }}
<tr> 
  <td><input type="submit"/>Save</td>
</tr>
</form>