
{% block content %}
{% if user.is_authenticated %}

{{ user.username }} is a recruiter
{{ user.id }} is the userID




<br>
<a href="{% url 'addJob' %}">Add Job</a>
<br>
<hr>
{% for job in jobs %}
<p>{{job.job_title}} / {{job.job_type}} / {{job.functional_area}}</p>
<a href="viewjob/{{job.id}}" class="btn btn-warning" id = '{{job.id}}'>view</a>
<a href="editjob/{{job.id}}" class="btn btn-warning" id = '{{job.id}}'>edit</a>
<a href="deletejob/{{job.id}}" class="btn btn-warning" id = '{{job.id}}'>delete</a>

<hr>
{% endfor %}
<hr>




 {% else %}

 login

 {% endif %}

 {% endblock %}
 
