<h1>{{job_details.job_title}}</h1>

<p>{{job_details.job_type}}</p>
<p>{{job_details.functional_area}}</p>
<p>{{job_details.jd}}</p>
<p>{{job_details.required_skills}}</p>
<p>{{job_details.salary}}</p>
<p>{{job_details.date_posted}}</p>
<a href="{{job_details.upload_doc.url}}" target="_blank">view JD</a>
<p>-----------------------</p>
{% for a in applicants %}
<p> {{a.user_id}} / {{a.first_name}} {{a.last_name}} / <a href="{% url 'viewCandidateProfile' a.user_id job_details.id %}">View Profile</a></p>
{% endfor %}
<p>------------------------</p>
<h2>Shortlisted candidates</h2>
{% for s in shortlisted_candidates %}
<p> {{s.user_id}} / {{s.first_name}} {{s.last_name}} /<a href="{% url 'viewCandidateProfile' s.user_id job_details.id %}">View Profile</a> </p>
{% endfor %}