<h1>Candidate Job Portal</h1>
<p>---------------------------------------------</p>
<h5>{{job_details.job_title}}</h5>
<p>{{job_details.job_type}}</p>
<p>{{job_details.functional_area}}</p>
<p>{{job_details.jd}}</p>
<p>{{job_details.required_skills}}</p>
<p>{{job_details.salary}}</p>
<p>{{job_details.date_posted}}</p>
<a href="{{job_details.upload_doc.url}}" target="_blank">view JD</a>
{% if applied %}
<p>You have applied for this job</p>
{% else %}
<p><a href="{% url 'candidateJobApplication' job_details.id %}" class="btn btn-warning" id = '{{job_details.id}}'>Apply</a></p>
{% endif %}