{% extends 'candidate/base.html' %}
{% block content %}
<style>
#heading{
    margin-left:500px;
}
#name{
    margin-left:600px;
}
</style>
<html>
    <title> Candidate Home</title>
    <body>
        <h1 id="heading">Candidate Home</h1>
    <p id="name">{{details.first_name}} is the candidate</p>
    <img style="width: 100px; height: 100px;" src="{{details.profile_pic.url}}" alt="profile_pic">
<br>


{% if shortlisted_jobs %}
<h2>Shortlisted Jobs</h2>
{% for job in shortlisted_jobs %}
<p> {{job.id}}/{{job.job_title}}/{{job.job_type}} / <a href="{% url 'candidateViewJob' job.id %}">View job</a> </p>
{% endfor %}
{% endif %}
    </body>
</html>
{% endblock %}
