<style>
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Poppins:wght@200;400&display=swap');

.card {
    position: absolute;
    width: 760px;
    height: 700px;
    left: 250px;
    top: 82px;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card:hover {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);}

#head{
    font-family:'poppins',sans-serif;
    font-size:28px;
    font-weight:bolder;
    color:black;
    padding-left:300px;
    margin-top:20px;
}
#company{
    font-family:'poppins',sans-serif;
    font-size:15px;
    color:#777474;
    padding-left:50px;
    margin-top: 50px;
}
#company_name{
    position: absolute;
    width: 670px;
    height: 35px;
    left: 50px;
    top: 150px;
    background: #ffffff;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}
#jobrole{
    font-family:'poppins',sans-serif;
    font-size:15px;
    color:#777474;
    padding-left:50px;
    margin-top: 80px;
}
#role{
    position: absolute;
    width: 670px;
    height: 35px;
    left: 50px;
    top: 250px;
    background: #ffffff;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}
#time{
    font-family:'poppins',sans-serif;
    font-size:15px;
    color:#777474;
    padding-left:50px;
    margin-top: 80px;
}
#duration{
    position: absolute;
    width: 670px;
    height: 35px;
    left: 50px;
    top: 360px;
    background: #ffffff;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}
#desc{
    font-family:'poppins',sans-serif;
    font-size:15px;
    color:#777474;
    padding-left:50px;
    margin-top: 80px;
}
#description{
    position: absolute;
    width: 670px;
    height: 35px;
    left: 50px;
    top: 470px;
    background: #ffffff;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}
#supporting_doc{
    font-family:'poppins',sans-serif;
    font-size:15px;
    color:#777474;
    padding-left:50px;
    padding-top: 80px;
}

#submit{
    position: absolute;
    width: 100px;
    height: 45px;
    left: 580px;
    top: 620px;
    background: #40159B;
    color:white;
}
#submit:hover {box-shadow: 0 8px 5px 0 rgba(0,0,0,0.7);}

</style>

<title> Work Experience </title> 
<body> 
    <div class="card">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr><td><p id="head">Experience</p></td></tr>
            <tr>
                <td><p id="company">Company Name:</p></td>
                <td><input id="company_name" required {{form.company_name}}</td>
            </tr>
            <tr>
                <td><p id="jobrole">Role:</p></td>
                <td><input id="role" required {{form.role}}</td>
            </tr>
            <tr>
                <td><p id="time">Duration(months)*:</p></td>
                <td><input id="duration" required {{form.duration}}</td>
            </tr>
            <tr>
                <td><p id="desc">Description:</p></td>
                <td><input id="description" placeholder="Experience gained, location, company contact" required {{form.description}}</td>
            </tr>
            <tr>
                <td id="supporting_doc"><p>Supporting Document:</p>{{form.supporting_doc}}</td>
            </tr>
            {{ form.errors }}
            <td><button id="submit" type="submit">Save</button></td>
        </table>
    </form>
    </div>
</body>
</html>