<h1>Candidate Work Experience</h1>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        <tr>
            <td>Company Name:</td>
            <td>{{form.company_name}}</td>
        </tr>
        <tr>
            <td>Role:</td>
            <td>{{form.role}}</td>
        </tr>
        <tr>
            <td>Duration:</td>
            <td>{{form.duration}}</td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>{{form.description}}</td>
        </tr>
        <tr>
            <td>Supporting Doc:</td>
            <td>{{form.supporting_doc}}</td>
        </tr>
        {{ form.errors }}
        <td><button type="submit" name="submit"  >Save</button></td>
    </table>
</form>