{% extends 'account/acc_base.html' %}
{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Italiana&family=Poppins:wght@200;400&display=swap');
    #message{
        font-family:poppins,sans-serif;
        font-size:30px;
        margin-left:500px;
        padding-top:200px;
    }
    #message_btn{
        border-radius: 5px;
        background-color: #461FBE;
        margin-left:700px;
        font-size: 24px;
        width:180px;
        height:50px;
        color:white;
        margin-top:50px;

    }
</style>
<html>
    <body>
        <p id="message">Set your profile with few simple details</p>
        <a href="{% url 'candidateCreateProfile' %}"><button id="message_btn">Create Profile</button></a>
    </body>
</html>
{% endblock %}