<h1>Candidate Projects</h1>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        <tr>
            <td>Project Name:</td>
            <td>{{form.project_name}}</td>
        </tr>
        <tr>
            <td>Technologies used</td>
            <td>{{form.technologies_used}}</td>
        </tr>
        <tr>
            <td>Start date:</td>
            <td>{{form.start_date}}</td>
        </tr>
        <tr>
            <td>End date:</td>
            <td>{{form.end_date}}</td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>{{form.description}}</td>
        </tr>
        <tr>
            <td>supporting link:</td>
            <td>{{form.supporting_media_or_link}}</td>
        </tr>
        {{ form.errors }}
        <td><button type="submit" name="submit"  >Save</button></td>
    </table>
</form>