<h1>Candidate Skills</h1>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        <tr>
            <td>Skill Name:</td>
            <td>{{form.skill_name}}</td>
        </tr>
        <tr>
            <td>Rating:</td>
            <td>{{form.rating}}</td>
        </tr>
        <tr>
            <td>Supporting Doc:</td>
            <td>{{form.supporting_doc}}</td>
        </tr>
        {{ form.errors }}
        <td><button type="submit" name="submit"  >Save</button></td>
    </table>
</form>