{% extends 'account/acc_base.html' %}
{% load static %}
{% block content %} 
<style>
.card{
    position: absolute;
    width: 670px;
    height: 216px;
    left: 670px;
    top: 200px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.45);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(70, 31, 190, 0.4);
    border-radius: 15px;
}
#text{
    position: absolute;
    width: 545px;
    height: 72px;
    left: 60px;
    top: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #2E0F71;
}
#text_nextline{
    position: absolute;
    width: 545px;
    height: 72px;
    left: 60px;
    top: 70px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #2E0F71;
}
#button_login{
    position: absolute;
    width: 100px;
    height: 45px;
    left: 200px;
    top: 130px;
    font-family: Poppins;
    background: #28076D;
    border-radius: 5px;
    color: white;
}
#button_home{
    position: absolute;
    width: 100px;
    height: 45px;
    left: 350px;
    top: 130px;
    font-family: Poppins;
    background: #28076D;
    border-radius: 5px;
    color: white;
}
</style>
{% block title %} Logout {% endblock %}
{% block text_in_blue_box %}Thank you {% endblock %}
<div class="card">
    <p id="text">You have successfully logged out of your account</p>
    <!--<p id="text_nextline">You can login now using your new password</p> -->
    <a href="{% url 'login_view' %}"><button id="button_login">Log in</button></a>
    <a href="{% url 'pilot' %}"><button id="button_home">Home</button></a>
</div>
{% endblock %}
