{% extends 'account/acc_base.html' %}
{% load static %}
{% block content %} 
<style>
.card{
	position: absolute;
	width: 653px;
	height: 488px;
	left: 652px;
	top: 100px;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(10, 14, 105, 0.4);
	border-radius: 15px;
	}
#create_password_heading{
	position: absolute;
	height: 45.07px;
	left: 50px;
	top: 35px;
	font-family: Roboto;
	font-weight: bold;
	font-size: 30px;
	color: #000000;
}
#create_password_text{
	position: absolute;
	height: 60.67px;
	left:50px;
	top: 90px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: #000000;
}
#password_contraint{
	position: absolute;
	height: 60.67px;
	left:50px;
	top: 130px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: #000000;
}
#password_contraint_continued{
	position: absolute;
	height: 60.67px;
	left:50px;
	top: 145px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: #000000;
}
#create_password{
	position: absolute;
	width: 300px;
	height: 38.73px;
	left: 50px;
	top: 180px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}
#password1{
	position: absolute;
	width: 480px;
	height: 39.01px;
	left: 50px;
	top: 220px;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.45);
	box-sizing: border-box;
	border-radius: 15px;
}
#re_enter_password{
	position: absolute;
	width: 300px;
	height: 38.73px;
	left: 50px;
	top: 300px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}
#password2{
	position: absolute;
	width: 480px;
	height: 39.01px;
	left: 50px;
	top: 350px;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.45);
	box-sizing: border-box;
	border-radius: 15px;
}
#confirm{
	position: absolute;
	width: 358px;
	height: 39px;
	left: 100px;
	top: 420px;
	font-family: Roboto;
	background: #3A1587;
	border-radius: 15px;
	color: white;
}
</style>
{% block title %} Password Reset Form {% endblock %}
{% block text_in_blue_box %} Let’s help you recover your account in a jiffy! {% endblock %}
<div class="card"> 
	<form method="post">
		{% csrf_token %}
	<p id="create_password_heading">Create New Password</p>
	<p id="create_password_text">Enter your <b>new</b> password</p>
	<p id="password_contraint">Password must be a minimum of 8 characters and must have atleast one alphabet,</p>
	<p id="password_contraint_continued">one numerical and one special character</p> 
	<p id="create_password">Create new password</p>
	<input type="password" id="password1" placeholder="Enter new password" {{form.new_password1}}
	<p id="re_enter_password">Re-enter New Password</p>
	<input type="password" id="password2" placeholder="Re-enter new password" {{form.new_password2}}
	<button type="Submit" id="confirm" name="Update Password"><b>Confirm Password</b></button>
</form>
</div>
{% endblock %}
<!--<h3>Enter new password</h3>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post">

	{% csrf_token %}
	{{form.new_password1}}
	{{form.new_password2}}
	<input type="Submit" name="Update Password">
	
</form>
-->