{% extends 'account/acc_base.html' %}
{% load static %}
{% block content %} 
<style>
.card{
	position: absolute;
	width: 650px;
	height: 550px;
	left: 652px;
	top: 100px;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(10, 14, 105, 0.4);
	border-radius: 15px;
	}
#create_password_heading{
	position: absolute;
	left: 50px;
	top: 35px;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #000000;
}
#create_password_text{
	position: absolute;
	left:50px;
	top: 90px;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: #000000;
}
#password_contraint{
	position: absolute;
	width:550px;
	left:50px;
	top: 130px;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: #000000;
}

#create_password{
	position: absolute;
	left: 20px;
	top: 100px;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}
#password1{
	position: absolute;
	width: 500px;
	height: 40px;
	left: 18px;
	top: 130px;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.45);
	box-sizing: border-box;
	border-radius: 15px;
	z-index:1
}
#eyeIcon1{
	position: absolute;
	margin-left: 450px;
	margin-top: 75px;
	z-index:2
}

#re_enter_password{
	position: absolute;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	left: 20px;
	top: 200px;
	line-height: 19px;
	color: #000000;
}
#password2{
	position: absolute;
	width: 500px;
	height: 40px;
	left: 18px;
	top: 230px;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.45);
	box-sizing: border-box;
	border-radius: 15px;
}
#eyeIcon2{
	position: absolute;
	margin-left: 450px;
	margin-top: 170px;
	z-index:2
}
#confirm{
	position: absolute;
	width: 358px;
	height: 39px;
	left: 100px;
	top: 330px;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
	background: #3A1587;
	border-radius: 15px;
	color: white;
}
</style>
{% block title %} Password Reset Form {% endblock %}
{% block text_in_blue_box %} Let’s help you recover your account in a jiffy! {% endblock %}
<div class="card"> 
	
	<form method="post">
		{% csrf_token %}
	<p id="create_password_heading">Create New Password</p>
	<p id="create_password_text">Enter your <b>new</b> password</p>
	<one id="password_contraint">Password must be a minimum of 8 characters and must have atleast one alphabet,one numerical and one special character</p> 
	<p id="create_password">Create new password</p>
	<input type="password" id="password1" placeholder="Enter new password" {{form.new_password1}}
	<p id="re_enter_password">Re-enter New Password</p>
	<input type="password" id="password2" placeholder="Re-enter new password" {{form.new_password2}}
	<p onclick="toggle1()" class=eyeShow> <i id="eyeIcon1" class="fas fa-eye"></i> </p>
	<script>
		function toggle1() {
			var temp = document.getElementById("password1");
			if (temp.type === "password") {
				temp.type = "text";
			}
			else {
				temp.type = "password";
			}

		}
	</script>
	
	<p onclick="toggle2()" class=eyeShow> <i id="eyeIcon2" class="fas fa-eye"></i> </p>
	<script>
		function toggle2() {
			var temp = document.getElementById("password2");
			if (temp.type === "password") {
				temp.type = "text";
			}
			else {
				temp.type = "password";
			}

		}
	</script>
	<button type="Submit" id="confirm" name="Update Password"><b>Confirm Password</b></button>
</form>
	
		

</div>
{% endblock %}
<!--<h3>Enter new password</h3>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post">

	{% csrf_token %}
	{{form.new_password1}}
	{{form.new_password2}}
	<input type="Submit" name="Update Password">
	
</form>
-->