{% extends 'account/acc_base.html' %}
{% load static %}
{% block content %} 
<style>
.card{
    position: absolute;
    width: 700px;
    height: 220px;
    left: 700px;
    top: 200px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.45);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(70, 31, 190, 0.4);
    border-radius: 15px;
}
#text{
    position: absolute;
    width: 545px;
    height: 72px;
    left: 70px;
    top: 70px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #2E0F71;
}
</style>
{% block title %} Password Reset Sent {% endblock %}
{% block text_in_blue_box %} Let’s help you recover your account in a jiffy! {% endblock %}
<div class="card">
    <p id="text">Reset Link has been sent to your Email ID successfully!
        <br><br>
        Please check your inbox and spam folders for the link.</p>
</div>
{% endblock %}
